@import url('../assets/fonts/fonts.css');

*::selection {
    background: transparent;
    color: inherit;
}
body {
    margin: 0;
    padding: 0;
    background-color: #15151d;
}
main {
    padding: 20px;
    justify-items: center;
    align-items: center;
    max-width: fit-content;
    margin-inline: auto;
}
#header-container {
    cursor: default;
    background-color: #555368;
    color: white;
    padding: 5px;
    width: 390px;
    text-align: center;
    font-family: 'Manline Slabs';
    letter-spacing: 3px;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 100px;
    corner-shape: squircle;
    box-shadow: 0 0 20px #131212;
}
#board-container {
    background-color: rgba(0, 0, 0, 0);
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    div {
        height: 120px;
        width: 120px;
        background-color: #555368;
        
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 70px;
        font-family: 'Holly Berry Pop';

        border-radius: 100px;
        corner-shape: squircle;

        box-shadow: 0 0 20px #131212;

        transition: transform 0.05s ease-in-out;

        &:hover {
            cursor: pointer;
            background-color: #7f7c95;
            transform: scale(1.05);
        }
    }
    .tile-clicked {
        animation: tile-clicked 0.2s ease-in-out forwards;
        transition: none;
    }
    .inactive {
        pointer-events: none;
    }
}
#game-text-container {
    cursor: default;
    background-color: #555368;
    color: white;
    padding: 5px;
    width: 390px;
    text-align: center;
    font-family: 'Manline Slabs';
    letter-spacing: 3px;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 100px;
    corner-shape: squircle;
    display: block;
    box-shadow: 0 0 20px #131212;
}
.button-group {
    display: flex;
    width: 390px;
    gap: 20px;
    justify-content: space-between;

    button {
        cursor: pointer;
        background-color: #edc14a;
        color: white;
        padding: 20px;
        width: 100%;
        text-align: center;
        font-family: 'Manline Slabs';
        letter-spacing: 3px;
        font-size: 25px;
        margin-bottom: 50px;
        border: none;
        border-radius: 100px;
        corner-shape: squircle;
        box-shadow: 0 0 20px #131212;
        transition: transform 0.1s ease-in-out;

        &:hover {
            background-color: #d74368ff;
            transform: scale(1.05);
        }
    }
}
@keyframes tile-clicked {
    0% {
        transform: scale(1.0);
    }
    10% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }
}