@import url("./global.css");

main {
    justify-items: center;
}

#header-container {
    cursor: default;
    background-color: #555368;
    color: white;
    padding: 5px;
    width: 390px;
    text-align: center;
    font-family: 'Manline Slabs';
    letter-spacing: 3px;
    font-size: 15px;
    margin-top: 150px;
    margin-bottom: 25px;
    border-radius: 100px;
    corner-shape: squircle;
    box-shadow: 0 0 20px #131212;
}

#settings-container {
    width: 480px;
    max-width: 480px;
    margin-top: 50px;
    
    label {
        font-family: 'Manline Slabs';
        letter-spacing: 3px;
        font-size: 28px;
        color: white;
    }

    .setting {
        margin-top: 60px;

        input[type="range"] {
            cursor: pointer;
            margin-top: 40px;
            height: 50px;
            width: 100%;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                min-width: 30px;
                min-height: 30px;
            }
        }

        input[type="checkbox"] {
            cursor: pointer;
            min-width: 30px;
            min-height: 30px;
            margin-left: 20px;
            margin-top: -5px;
            transform: translateY(5px);
        }
    }
}